/*Green Header*/
.nav {
  padding: 0;
  margin: 0;
}

.navigation-padding {
  padding-top: 33px;
  padding-bottom: 33px;
}

.flex-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-nav {
  margin: 0px;
  padding: 18px 0px;
  background-color: $color-accent;
}

.store-info {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

.store-info__icon {
  display: block;
  width: 23px;
  height: 20px;
  fill: $color-white;
  margin-right: 8px;
}

.store-info__phone {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0px;
  color: $color-white;
  font-family: $font-primary;
  font-weight: 300;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.store-info__mail {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $color-white;
  font-family: $font-primary;
  font-weight: 300;
  text-decoration: none;
  margin-left: 70px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.user-info__link {
  display: inline-block;
  font-size: 14px;
  color: $color-white;
  font-family: $font-primary;
  font-weight: 300;
  text-decoration: none;
  padding: 2px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.highlighting:hover,
.store-info__phone:focus {
  color: $color-accent-hover;
}

/*White Header*/
.logo {
  font-size: 30px;
  letter-spacing: -1px;
  color: $color-text-main;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
}

.logo::first-letter {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: $color-accent;
  font-weight: 900;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
}

.site-nav__link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 2px 36px;
  color: $color-text-black;
  font-family: $font-primary;
  font-weight: 700;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
